@charset "UTF-8";

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@media screen and (min-width: 768px) and  (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor2));
    }
    
    #login {
        width: 80vw;
        height: 300px;
    }
    
    #imagem {
        float: left;
        width: 30%;
        height: 100vh;
    }
    
    #formulario {
        float: right;
        width: 70%;
        height: 100vh;
    }
}
@media screen and (min-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor2));
    }
    
    #login {
        width: 900px;
        height: 400px;
    }
    
    #imagem {
        float: right;
        width: 50%;
        height: 100vh;
    }
    
    #formulario {
        float: left;
        width: 50%;
        height: 100vh;
    }

    #formulario > h1 {
        font-size: 3em;
    }

    #formulario > p {
        font-size: 1.2em;
    }

}